<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kensure.mdt.dao.MdtApplyMapper"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
    <sql id="allFields">
		id,
		patient_type as patientType,
		name,
		gender,
		birthday,
		phone,
		diagnose_date as diagnoseDate,
		number,
		picture,
		overview,
		survey_report as surveyReport,
		inspection_report as inspectionReport,
		mdt_date as mdtDate,
		mdt_location as mdtLocation,
		disease_name as diseaseName,
		other_disease_name as otherDiseaseName,
		mdt_purpose as mdtPurpose,
		other_mdt_purpose as otherMdtPurpose,
		difficulty,
		is_charge as isCharge,
		apply_person as applyPerson,
		apply_createtime as applyCreatetime,
		apply_phone as applyPhone,
		apply_status as applyStatus,
		share as share,
		summary,
		created_userid as createdUserid,
		created_deptid as createdDeptid,
		is_delete as isDelete,
		apply_person_id as applyPersonId,
		patient_id as patientId,
		idcard,
		created_orgid as createdOrgid,
		is_jiaofei as isJiaofei,
		is_zhiqing as isZhiqing,
		is_duanxin as isDuanxin,
		is_ksdafen as isKsdafen,
		is_zjdafen as isZjdafen,
		is_xiaojie as isXiaojie,
		is_zuofei as isZuofei,
		created_time as createdTime,
		updated_time as updatedTime
    </sql>
    
	<sql id="insertFields">
		id,
		patient_type,
		name,
		gender,
		birthday,
		phone,
		diagnose_date,
		number,
		picture,
		overview,
		survey_report,
		inspection_report,
		mdt_date,
		mdt_location,
		disease_name,
		other_disease_name,
		mdt_purpose,
		other_mdt_purpose,
		difficulty,
		is_charge,
		apply_person,
		apply_createtime,
		apply_phone,
		apply_status,
		share,
		summary,
		created_userid,
		created_deptid,
		is_delete,
		apply_person_id,
		patient_id,
		idcard,
		created_orgid,
		is_jiaofei,
		is_zhiqing,
		is_duanxin,
		is_ksdafen,
		is_zjdafen,
		is_xiaojie,
		is_zuofei,
		created_time,
		updated_time
    </sql>
	
	<insert id="insert" parameterType="com.kensure.mdt.entity.MdtApply">
		insert into mdt_apply (<include refid="insertFields"/>)
		values (
			#{id},
			#{patientType},
			#{name},
			#{gender},
			#{birthday},
			#{phone},
			#{diagnoseDate},
			#{number},
			#{picture},
			#{overview},
			#{surveyReport},
			#{inspectionReport},
			#{mdtDate},
			#{mdtLocation},
			#{diseaseName},
			#{otherDiseaseName},
			#{mdtPurpose},
			#{otherMdtPurpose},
			#{difficulty},
			#{isCharge},
			#{applyPerson},
			#{applyCreatetime},
			#{applyPhone},
			#{applyStatus},
			#{share},
			#{summary},
			#{createdUserid},
			#{createdDeptid},
			#{isDelete},
			#{applyPersonId},
			#{patientId},
			#{idcard},
			#{createdOrgid},	
			#{isJiaofei},
			#{isZhiqing},
			#{isDuanxin},
			#{isKsdafen},
			#{isZjdafen},
			#{isXiaojie},
			#{isZuofei},
			#{createdTime},
			#{updatedTime}
		)
	</insert>	
	
    <sql id="whereClause">
		<if test="patientType != null">			
			patient_type = #{patientType}			
		</if>
		<if test="name != null">			
			and name = #{name}			
		</if>
		<if test="gender != null">			
			and gender = #{gender}			
		</if>
		<if test="birthday != null">			
			and birthday = #{birthday}			
		</if>
		<if test="phone != null">			
			and phone = #{phone}			
		</if>
		<if test="diagnoseDate != null">			
			and diagnose_date = #{diagnoseDate}			
		</if>
		<if test="number != null">			
			and number = #{number}			
		</if>
		<if test="picture != null">			
			and picture = #{picture}			
		</if>
		<if test="overview != null">			
			and overview = #{overview}			
		</if>
		<if test="surveyReport != null">			
			and survey_report = #{surveyReport}			
		</if>
		<if test="inspectionReport != null">			
			and inspection_report = #{inspectionReport}			
		</if>
		<if test="mdtDate != null">			
			and mdt_date = #{mdtDate}			
		</if>
		<if test="mdtLocation != null">			
			and mdt_location = #{mdtLocation}			
		</if>
		<if test="diseaseName != null">			
			and disease_name = #{diseaseName}			
		</if>
		<if test="otherDiseaseName != null">			
			and other_disease_name = #{otherDiseaseName}			
		</if>
		<if test="mdtPurpose != null">			
			and mdt_purpose = #{mdtPurpose}			
		</if>
		<if test="otherMdtPurpose != null">			
			and other_mdt_purpose = #{otherMdtPurpose}			
		</if>
		<if test="difficulty != null">			
			and difficulty = #{difficulty}			
		</if>
		<if test="isCharge != null">			
			and is_charge = #{isCharge}			
		</if>
		<if test="applyPerson != null">			
			and apply_person = #{applyPerson}			
		</if>
		<if test="applyCreatetime != null">			
			and apply_createtime = #{applyCreatetime}			
		</if>
		<if test="applyPhone != null">			
			and apply_phone = #{applyPhone}			
		</if>
		<if test="applyStatus != null">			
			and apply_status = #{applyStatus}			
		</if>
		<if test="startApplyStatus != null">		
			<![CDATA[	
				and apply_status >= #{startApplyStatus}		
			]]>	
		</if>	
		<if test="share != null">
			and share = #{share}
		</if>
		<if test="createdUserid != null">
			and created_userid = #{createdUserid}
		</if>
		<if test="createdOrgid != null">
			and created_orgid = #{createdOrgid}
		</if>
		<if test="createdDeptid != null">
			and created_deptid = #{createdDeptid}
		</if>
		
		<if test="isDelete != null">
			and is_delete = #{isDelete}
		</if>
		<if test="createdDeptidList != null">
			and created_deptid in
			<foreach collection="createdDeptidList" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="applyPersonId != null">
			and apply_person_id = #{applyPersonId}
		</if>
		<if test="patientId != null">
			and patient_id = #{patientId}
		</if>
		<if test="idcard != null">
			and idcard = #{idcard}
		</if>
		<if test="isJiaofei != null">
			and is_jiaofei = #{isJiaofei}
		</if>
		<if test="isZhiqing != null">
			and is_zhiqing = #{isZhiqing}
		</if>
		<if test="isDuanxin != null">
			and is_duanxin = #{isDuanxin}
		</if>
		<if test="isKsdafen != null">
			and is_ksdafen = #{isKsdafen}
		</if>
		<if test="isZjdafen != null">
			and is_zjdafen = #{isZjdafen}
		</if>
		<if test="isXiaojie != null">
			and is_xiaojie = #{isXiaojie}
		</if>
		<if test="isZuofei != null">
			and is_zuofei = #{isZuofei}
		</if>
		<if test="createdTime != null">			
			and created_time = #{createdTime}			
		</if>
		<if test="updatedTime != null">			
			and updated_time = #{updatedTime}			
		</if>
	</sql>
    
	<select id="selectOne" resultType="com.kensure.mdt.entity.MdtApply" parameterType="Long" >
		select <include refid="allFields"/> 
		  from mdt_apply 
		 where id = #{id} 
	</select>
	
	<select id="selectByIds" parameterType="List" resultType="com.kensure.mdt.entity.MdtApply">
		select <include refid="allFields"/> from mdt_apply 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="selectCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from mdt_apply 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="selectByWhere" parameterType="Map" resultType="com.kensure.mdt.entity.MdtApply">
		select <include refid="allFields"/>
		from mdt_apply 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
		<if test="limit != null">
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="patientType != null">
			patient_type = #{patientType},
		</if>
		<if test="name != null">
			name = #{name},
		</if>
		<if test="gender != null">
			gender = #{gender},
		</if>
		<if test="birthday != null">
			birthday = #{birthday},
		</if>
		<if test="phone != null">
			phone = #{phone},
		</if>
		<if test="diagnoseDate != null">
			diagnose_date = #{diagnoseDate},
		</if>
		<if test="number != null">
			number = #{number},
		</if>
		<if test="picture != null">
			picture = #{picture},
		</if>
		<if test="overview != null">
			overview = #{overview},
		</if>
		<if test="surveyReport != null">
			survey_report = #{surveyReport},
		</if>
		<if test="inspectionReport != null">
			inspection_report = #{inspectionReport},
		</if>
		<if test="mdtDate != null">
			mdt_date = #{mdtDate},
		</if>
		<if test="mdtLocation != null">
			mdt_location = #{mdtLocation},
		</if>
		<if test="diseaseName != null">
			disease_name = #{diseaseName},
		</if>
		<if test="otherDiseaseName != null">
			other_disease_name = #{otherDiseaseName},
		</if>
		<if test="mdtPurpose != null">
			mdt_purpose = #{mdtPurpose},
		</if>
		<if test="otherMdtPurpose != null">
			other_mdt_purpose = #{otherMdtPurpose},
		</if>
		<if test="difficulty != null">
			difficulty = #{difficulty},
		</if>
		<if test="isCharge != null">
			is_charge = #{isCharge},
		</if>
		<if test="applyPerson != null">
			apply_person = #{applyPerson},
		</if>
		<if test="applyCreatetime != null">
			apply_createtime = #{applyCreatetime},
		</if>
		<if test="applyPhone != null">
			apply_phone = #{applyPhone},
		</if>
		<if test="applyStatus != null">
			apply_status = #{applyStatus},
		</if>
		<if test="share != null">
			share = #{share},
		</if>
		<if test="summary != null">
			summary = #{summary},
		</if>
		<if test="createdUserid != null">
			created_userid = #{createdUserid},
		</if>
		<if test="createdDeptid != null">
			created_deptid = #{createdDeptid},
		</if>
		<if test="isDelete != null">
			is_delete = #{isDelete},
		</if>
		<if test="applyPersonId != null">
			apply_person_id = #{applyPersonId},
		</if>
		<if test="patientId != null">
			patient_id = #{patientId},
		</if>
		<if test="idcard != null">
			idcard = #{idcard},
		</if>
		<if test="createdOrgid != null">
			created_orgid = #{createdOrgid},
		</if>
		<if test="isJiaofei != null">
			is_jiaofei = #{isJiaofei},
		</if>
		<if test="isZhiqing != null">
			is_zhiqing = #{isZhiqing},
		</if>
		<if test="isDuanxin != null">
			is_duanxin = #{isDuanxin},
		</if>
		<if test="isKsdafen != null">
			is_ksdafen = #{isKsdafen},
		</if>
		<if test="isZjdafen != null">
			is_zjdafen = #{isZjdafen},
		</if>
		<if test="isXiaojie != null">
			is_xiaojie = #{isXiaojie},
		</if>
		<if test="isZuofei != null">
			is_zuofei = #{isZuofei},
		</if>
		<if test="createdTime != null">
			created_time = #{createdTime},
		</if>
		<if test="updatedTime != null">
			updated_time = #{updatedTime}
		</if>
	</sql>
	
	<update id="update" parameterType="com.kensure.mdt.entity.MdtApply">
		 update mdt_apply 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update mdt_apply 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<delete id="delete">
		delete from mdt_apply where id = #{id}
	</delete>
	
	<delete id="deleteMulti" parameterType="List">
		delete from mdt_apply
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from mdt_apply 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	

</mapper>    
