<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kensure.mdt.dao.SysFileItemMapper"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
    <sql id="allFields">
		id,
		file_id as fileId,
		file_name as fileName,
		file_path as filePath,
		created_time as createdTime,
		updated_time as updatedTime
    </sql>
    
	<sql id="insertFields">
		id,
		file_id,
		file_name,
		file_path,
		created_time,
		updated_time
    </sql>
	
	<insert id="insert" parameterType="com.kensure.mdt.entity.SysFileItem">
		insert into sys_file_item (<include refid="insertFields"/>)
		values (
			#{id},
			#{fileId},
			#{fileName},
			#{filePath},
			#{createdTime},
			#{updatedTime}
		)
	</insert>	
	
    <sql id="whereClause">
		<if test="fileId != null">			
			file_id = #{fileId}			
		</if>
		<if test="fileName != null">			
			and file_name = #{fileName}			
		</if>
		<if test="filePath != null">			
			and file_path = #{filePath}			
		</if>
		<if test="createdTime != null">			
			and created_time = #{createdTime}			
		</if>
		<if test="updatedTime != null">			
			and updated_time = #{updatedTime}			
		</if>
	</sql>
    
	<select id="selectOne" resultType="com.kensure.mdt.entity.SysFileItem" parameterType="Long" >
		select <include refid="allFields"/> 
		  from sys_file_item 
		 where id = #{id} 
	</select>
	
	<select id="selectByIds" parameterType="List" resultType="com.kensure.mdt.entity.SysFileItem">
		select <include refid="allFields"/> from sys_file_item 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="selectCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from sys_file_item 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="selectByWhere" parameterType="Map" resultType="com.kensure.mdt.entity.SysFileItem">
		select <include refid="allFields"/>
		from sys_file_item 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
		<if test="limit != null">
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="fileId != null">
			file_id = #{fileId},
		</if>
		<if test="fileName != null">
			file_name = #{fileName},
		</if>
		<if test="filePath != null">
			file_path = #{filePath},
		</if>
		<if test="createdTime != null">
			created_time = #{createdTime},
		</if>
		<if test="updatedTime != null">
			updated_time = #{updatedTime}
		</if>
	</sql>
	
	<update id="update" parameterType="com.kensure.mdt.entity.SysFileItem">
		 update sys_file_item 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update sys_file_item 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<delete id="delete">
		delete from sys_file_item where id = #{id}
	</delete>
	
	<delete id="deleteMulti" parameterType="List">
		delete from sys_file_item
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from sys_file_item 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	

</mapper>    
