<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kensure.mdt.dao.SysUserMapper"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
    <sql id="allFields">
		id,
		number,
		name,
		password,
		age,
		birthday,
		department,
		title,
		education,
		phone,
		kszr,
		created_orgid as createdOrgid,
		phone_cornet as phoneCornet,
		created_time as createdTime,
		updated_time as updatedTime
    </sql>
    
	<sql id="insertFields">
		id,
		number,
		name,
		password,
		age,
		birthday,
		department,
		title,
		education,
		phone,
		kszr,
		created_orgid,
		phone_cornet,
		created_time,
		updated_time
    </sql>
	
	<insert id="insert" parameterType="com.kensure.mdt.entity.SysUser">
		insert into sys_user (<include refid="insertFields"/>)
		values (
			#{id},
			#{number},
			#{name},
			#{password},
			#{age},
			#{birthday},
			#{department},
			#{title},
			#{education},
			#{phone},
			#{kszr},	
			#{createdOrgid},
			#{phoneCornet},
			#{createdTime},
			#{updatedTime}
		)
	</insert>	
	
    <sql id="whereClause">
		<if test="number != null">			
			number = #{number}			
		</if>
		<if test="numberLike != null">			
			and number like concat('%',#{numberLike},'%')			
		</if>
		<if test="name != null">			
			and name = #{name}			
		</if>
		<if test="nameLike != null">			
			and name like concat('%',#{nameLike},'%')			
		</if>
		<if test="numberOrNameLike != null">			
			and (number like concat('%',#{numberOrNameLike},'%') or name like concat('%',#{numberOrNameLike},'%')	)		
		</if>
		<if test="password != null">
			and password = #{password}
		</if>
		<if test="age != null">			
			and age = #{age}			
		</if>
		<if test="birthday != null">			
			and birthday = #{birthday}			
		</if>
		<if test="department != null">			
			and department = #{department}			
		</if>
		<if test="title != null">			
			and title = #{title}			
		</if>
		<if test="education != null">			
			and education = #{education}			
		</if>
		<if test="phone != null">			
			and phone = #{phone}			
		</if>
		<if test="kszr != null">			
			and kszr = #{kszr}			
		</if>		
		<if test="createdOrgid != null">			
			and created_orgid = #{createdOrgid}			
		</if>
		<if test="phoneCornet != null">			
			and phone_cornet = #{phoneCornet}			
		</if>
		<if test="createdTime != null">			
			and created_time = #{createdTime}			
		</if>
		<if test="updatedTime != null">			
			and updated_time = #{updatedTime}			
		</if>
	</sql>
    
	<select id="selectOne" resultType="com.kensure.mdt.entity.SysUser" parameterType="Long" >
		select <include refid="allFields"/> 
		  from sys_user 
		 where id = #{id} 
	</select>
	
	<select id="selectByIds" parameterType="List" resultType="com.kensure.mdt.entity.SysUser">
		select <include refid="allFields"/> from sys_user 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="selectCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from sys_user 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="selectByWhere" parameterType="Map" resultType="com.kensure.mdt.entity.SysUser">
		select <include refid="allFields"/>
		from sys_user 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
		<if test="limit != null">
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="number != null">
			number = #{number},
		</if>
		<if test="name != null">
			name = #{name},
		</if>
		<if test="password != null">
			password = #{password},
		</if>
		<if test="age != null">
			age = #{age},
		</if>
		<if test="birthday != null">
			birthday = #{birthday},
		</if>
		<if test="kszr != null">
			kszr = #{kszr},
		</if>
		<if test="department != null">
			department = #{department},
		</if>
		<if test="title != null">
			title = #{title},
		</if>
		<if test="education != null">
			education = #{education},
		</if>
		<if test="phone != null">
			phone = #{phone},
		</if>
		<if test="createdOrgid != null">			
			created_orgid = #{createdOrgid},		
		</if>
		<if test="phoneCornet != null">
			phone_cornet = #{phoneCornet},
		</if>
		<if test="createdTime != null">
			created_time = #{createdTime},
		</if>
		<if test="updatedTime != null">
			updated_time = #{updatedTime}
		</if>
	</sql>
	
	<update id="update" parameterType="com.kensure.mdt.entity.SysUser">
		 update sys_user 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update sys_user 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<delete id="delete">
		delete from sys_user where id = #{id}
	</delete>
	
	<delete id="deleteMulti" parameterType="List">
		delete from sys_user
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from sys_user 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	

</mapper>    
